
$baseBackground : var(--baseBackground);
$accentGreenBackground : var(--accentGreenBackground);
$accentBackground : var(--accentBackground);

$borderColor : var(--borderColor);
$cellBorder: .08rem solid $borderColor;
$tableCellBorder: .08rem solid #eaeaea;

$fontColorBase : var(--fontColorBase);
$fontColorLight : var(--fontColorLight);

$primaryColor : var(--primaryColor);

$baseFontFamily: 'Rubik', sans-serif;

$sidebarShadow: var(--sidebarShadow);
