:root {
  --baseBackground: rgb(255, 255, 255);
  --accentGreenBackground: rgb(239, 255, 250);
  --accentBackground: rgb(206, 206, 206, 0.29);

  --borderColor: #cecece;

  --fontColorBase: #707070;
  --fontColorLight: rgb(71, 74, 72);

  --primaryColor: rgb(83, 122, 90);

  // local
  --sidebarShadow: 0px 0px 91px -32px rgba(44, 48, 46,0.45);
}
