@import "~styles/constants";


.TableLayout {
  width: 100%;
  height: 100%;

  padding: 1.8rem 3.6rem 3.6rem;
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;;
  flex-wrap: nowrap;
}

$namesFontSize: 1.2rem;

.TopNavigation {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 2.2rem;
  padding-bottom: 1.8rem;

  .NavIconContainer {
    display: inline-block;
    height: 100%;

    position: relative;

    z-index: 1;
    color: $fontColorBase;
    border: 0.08rem solid $accentBackground;
    background-color: $accentBackground;
    font-size: 1.5rem;
    border-radius: .5rem;

    .Icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  .ColumnNamesContainer {
    height: 100%;
    width: 100%;
    font-size: $namesFontSize;
  }
}

.BottomTable {
  display: flex;
  flex-wrap: nowrap;

  height: 100%;
  width: 100%;

  .SideNavigation {
    border: 0.08rem solid rgba(0,0,0,0);
    height: 100%;
    width: auto;
  }

  .TableGridContainer {
    height: 100%;
    width: 100%;
  }
}

.PaddingBlock {
  width: 1.8rem;
  min-width: 1.8rem;
}

.WidthOffset {
  opacity: 0;
  display: block;
  padding: 0 0.6rem;
  height: 0;
  line-height: 0;
  font-size: $namesFontSize;
}
